<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="nature"
         name="%nature.desktop.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.appcelerator.titanium.desktop.DesktopProjectNature">
         </run>
      </runtime>
      <content-type
            id="com.aptana.contenttype.beaver">
      </content-type>
      <content-type
            id="com.aptana.contenttype.coffeescript">
      </content-type>
      <content-type
            id="com.aptana.contenttype.css">
      </content-type>
      <content-type
            id="com.aptana.contenttype.diff">
      </content-type>
      <content-type
            id="com.aptana.contenttype.dtd">
      </content-type>
      <content-type
            id="com.aptana.contenttype.html">
      </content-type>
      <content-type
            id="com.aptana.contenttype.idl">
      </content-type>
      <content-type
            id="com.aptana.contenttype.js">
      </content-type>
      <content-type
            id="com.aptana.contenttype.jsca">
      </content-type>
      <content-type
            id="com.appcelerator.titanium.contenttype.jss">
      </content-type>
      <content-type
            id="com.aptana.contenttype.markdown">
      </content-type>
      <content-type
            id="com.aptana.contenttype.sdocml">
      </content-type>
      <content-type
            id="com.aptana.contenttype.svg">
      </content-type>
      <content-type
            id="com.aptana.contenttype.xsl">
      </content-type>
      <content-type
            id="com.aptana.editor.text.content-type.generic">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/desktop_d.png"
            id="com.appcelerator.titanium.desktop.nature.image"
            natureId="com.appcelerator.titanium.desktop.nature">
      </image>
   </extension>   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.appcelerator.titanium.desktop.launching.DesktopLaunchConfigurationDelegate"
            delegateName="%desktop.launchConfigurationType.delegateName"
            id="com.appcelerator.titanium.desktop.launchConfigurationType"
            modes="run"
            name="%desktop.launchConfigurationType.name"
            public="true"
            sourceLocatorId="com.aptana.js.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.appcelerator.titanium.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.appcelerator.titanium.desktop.launching.DesktopLaunchShortcut"
            description="%desktop.shortcut.description"
            icon="icons/full/obj16/desktop_launch.png"
            id="com.appcelerator.titanium.desktop.launchShortcut"
            label="%desktop.shortcut.label"
            modes="run">
         <configurationType
               id="com.appcelerator.titanium.desktop.launchConfigurationType"></configurationType>
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.appcelerator.titanium.isDesktopProject">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.appcelerator.titanium.desktop.ui.launching.DesktopLaunchConfigurationTabGroup"
            id="com.appcelerator.titanium.desktop.launchConfigurationTabGroup"
            type="com.appcelerator.titanium.desktop.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.appcelerator.titanium.desktop.launchConfigurationType"
            icon="icons/full/obj16/desktop_launch.png"
            id="com.appcelerator.titanium.desktop.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.appcelerator.titanium.desktop.category"
            name="%category.titanium.desktop.name">
      </category>
      <command
            categoryId="com.appcelerator.titanium.desktop.category"
            defaultHandler="com.appcelerator.titanium.desktop.ui.wizard.PackageHandler"
            id="com.appcelerator.titanium.desktop.command.package"
            name="%distribute.desktop.command.name">
      </command>
      <command
            categoryId="com.appcelerator.titanium.desktop.category"
            defaultHandler="com.appcelerator.titanium.desktop.ui.wizard.ViewLastPackageHandler"
            id="com.appcelerator.titanium.desktop.command.last_package"
            name="%view.last_package.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.aptana.explorer.deploy?before=group.deploy">
         <command
               commandId="com.appcelerator.titanium.desktop.command.package"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.appcelerator.titanium.isDesktopProject">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.appcelerator.titanium.desktop.command.last_package"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.appcelerator.titanium.isDesktopProject">
               </reference>
            </visibleWhen>
         </command>
       </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.appcelerator.titanium.new.wizard.category"
            class="com.appcelerator.titanium.desktop.ui.wizard.NewDesktopProjectWizard"
            icon="platform:/plugin/com.appcelerator.titanium.ui/icons/titanium_16.png"
            id="com.appcelerator.titanium.desktop.project_wizard"
            name="%wizard.project.name"
            project="true">
         <description>
            %wizard.desktop.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.appcelerator.titanium.desktop.preferences.DesktopPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.appcelerator.titanium.desktop.command.package"
            icon="icons/full/obj16/desktop_release.png">
      </image>
   </extension>
   <extension
         point="com.aptana.ui.diagnostic">
      <diagnosticLog
            class="com.appcelerator.titanium.desktop.DesktopDiagnosticLog">
      </diagnosticLog>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.appcelerator.titanium.isDesktopProject">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.appcelerator.titanium.desktop.nature">
               </test>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="com.aptana.samples.samplespath">
      <category
            icon="icons/sample.png"
            id="com.appcelerator.titanium.desktop.samples.category"
            name="%category.sample.desktop.name"
            projectHandler="com.appcelerator.titanium.desktop.sample.SampleProjectHandler">
      </category>
   </extension>
   <extension
         point="com.aptana.editor.common.userAgent">
      <default-user-agents
            name="Default User Agents for Titanium Desktop"
            nature-id="com.appcelerator.titanium.desktop.nature">
         <user-agent-ref
               user-agent-id="Safari">
         </user-agent-ref>
      </default-user-agents>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <tocProvider
            class="com.appcelerator.titanium.desktop.documentation.DesktopSDKTocProvider">
      </tocProvider>
   </extension>
   <extension
         point="com.appcelerator.titanium.core.platformConfigurator">
      <type
            class="com.appcelerator.titanium.desktop.DesktopPlatformConfigurator"
            id="desktop">
      </type>
   </extension>
</plugin>
